

.contact-form table tr th {
    text-align: left;
    font-weight: 300;
    font-size: 20px;
}

.contact-form table tr td input {
    width: 250px;
    height: 30px;
    margin-left: 20px;
}

.contact-form form {
    width: 368px;
    text-align: center;
}

